includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5

    paths:
            - app
            - config
            - database
            - routes

    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Static property .+ \$view .+ does not accept default value of type string#'
        - '#Parameter .+ \$view of method Filament\\Support\\Components\\ViewComponent::view\(\) expects view-string\|null, string given#'
